html {
    box-sizing: border-box;
}


*, ::before, ::after {
    box-sizing: inherit;
}


.body {

    background-color: rgba(199, 190, 190, 0.563);
    display: flex;
   
    flex-direction: column;

}