html {
    box-sizing: border-box;
}


*, ::before, ::after {
    box-sizing: inherit;
}


.body {

    background-color: rgba(199, 190, 190, 0.563);
    display: flex;

    min-height: 100vh;
    justify-content: center;

}
.container__header{

    margin-left: 15px;
    margin-bottom: 3px;
}

.container {
    background-color: white;
    display: flex;
    flex-basis: 600px;

    height: auto;
    flex-direction: column;






}

.container__span--addTask {

    padding: 15px;
    margin: 0px;
    margin-bottom: 3px;

    margin-left: 0px;
    background-color: white;
    display: flex;
    border-bottom: 1px solid rgba(199, 190, 190, 0.563);
}

.container__span--textListTask {
    background-color: white;
    margin-top: 5px;
    margin-left: 0px;

    padding: 15px;
    display: flex;
    border-bottom: 1px solid rgba(199, 190, 190, 0.563);

}



